<nav class="navbar">
  <div class="navbar-wrapper">
    <h3 class="brand">bookup</h3>
    <a href="/logout" class="navbar-button nabvar-button-right">Logout</a>
    <a href="/" class="navbar-button navbar-button-left">Home</a>
  </div>
</nav>
<div class="login-container">

  <div class="mybooks-wrapper">
<% message.forEach( (message) => { %>
    <div class="mybooks">
      <div class="book-list-info">
        <ul>
          <li><%= message.senderName %></li>
          <li><%= message.subject %></li>
        </ul>
      </div>
    </div>
<% }); %>
  </div>

</div>
